/* html, body {
  height: 100%;
  width: 100%;
}
*/

body {
  background-color: #378736;
}

/*Setting max width and having auto left and right margin will center the article container in the middle of the window no matter how big the page gets */
article {
  max-width: 800px;
  margin:0 auto;
}

/* Setting margin of h1 to 0 to not offset background color of header */
h1 {
  margin: 0%;
  padding: 3px;
  text-align: center;
}

/*Need to set margin and padding to 0% to not override header background color */
h2 {
  margin: 0%;
  padding: 0%;
  border: 3px;
  text-align: center;
  font-size: 16px;
}

h3 {
  text-align: center;
  height: 8px;
}

.image {
  text-align: center;
}

img {
  box-shadow: 5px 5px #66ea99;
}

main {
  font-family: 'Times New Roman', sans-serif;
  font-size: 18px;
}

/* Sets the font and color of the header, ensures the header covers all upper portion of space */
header, footer {
  font-family: Copperplate;
  background-color: #71ea85;
  box-shadow: 5px 5px #24a824;
  margin: 0%;
  padding: 0%;
  border: 0%:
}

a {
  font-family: 'Times New Roman', sans-serif;
  font-size: 18px;
}

a:link    { color: blue;  }
a:visited { color: #ad9bee;   }
a:hover   { color: #00ffd5; }
a:active  { color: red;  }